node_modules/
packages/
bin/
obj/
*.pdb
Libraries/Framework/Fwk.Bases.Connector.dll.config
Libraries/Framework/Fwk.Bases.XML
Libraries/Framework/Fwk.Bases.dll.config
Libraries/Framework/Fwk.DataBase.XML
Libraries/Framework/Fwk.DataBase.dll.config
Libraries/Framework/Fwk.Security.XML
Libraries/Framework/Fwk.Security.dll.config
Fwk/Fwk.Security/obj/Debug/Fwk.Security.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Bases.Test/bin/Debug/ConfigurationManager.xml
Fwk/Test/Fwk.Bases.Test/bin/Debug/Fwk.Bases.Test.exe.config
Fwk/Test/Fwk.Bases.Test/bin/Debug/Fwk.Bases.xml
Fwk/Test/Fwk.Bases.Test/bin/Debug/ServiceMetadataConfig.xml
Fwk/Test/Fwk.Bases.Test/bin/Debug/XmlWhitAttributes.xml
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.Properties.Resources.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.frmEntitiesTest.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/Fwk.Bases.Test.frmEntityFromXmlWhitAttributes.resources
Fwk/Fwk.Bases.Connector/bin/Release/Fwk.Bases.xml
Fwk/Fwk.Bases.Connector/bin/Release/ServiceMetadataConfig.xml
Fwk/Fwk.Bases.Connector/obj/Release/Fwk.Bases.Connector.csproj.FileListAbsolute.txt
Fwk/Fwk.Blocking/Fwk.Blocking.BlockingService/bin/Release/ServiceMetadataConfig.xml
Fwk/Test/Fwk.Blocking.Test/bin/Debug/Fwk.Bases.xml
Fwk/Test/Fwk.Blocking.Test/bin/Debug/Fwk.Blocking.Test.dll.config
Fwk/Test/Fwk.Blocking.Test/bin/Debug/ServiceMetadataConfig.xml
Fwk/Test/Fwk.Blocking.Test/obj/Debug/Fwk.Blocking.Test.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Cache.Test/bin/Debug/Fwk.Bases.xml
Fwk/Test/Fwk.Cache.Test/bin/Debug/Fwk.Cache.Test.exe.config
Fwk/Test/Fwk.Cache.Test/bin/Debug/ServiceMetadataConfig.xml
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.Properties.Resources.resources
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.csproj.FileListAbsolute.txt
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.frmAddItem.resources
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.frmCacheFactoryTest.resources
Fwk/Test/Fwk.Cache.Test/obj/Debug/Fwk.Cache.Test.frmSelectItem.resources
Fwk/Test/Fwk.Bases.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fwk/Fwk.Bases/Blocks/Fwk.Exceptions/FrameworkErrors.txt.bak
Fwk/Fwk.v11.suo
Fwk/Test/Fwk.UnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Fwk/Fwk.Security/bin/Debug/Fwk.Bases.dll
Fwk/Fwk.Security/bin/Debug/Fwk.Security.dll
Fwk/Fwk.Security/bin/Debug/Fwk.Security.pdb
Fwk/Fwk.Bases/bin/Release/Fwk.Bases.dll
Fwk/Fwk.Bases/bin/Release/Fwk.Bases.pdb
Fwk/Fwk.Bases/obj/Release/Fwk.Bases.csprojResolveAssemblyReference.cache
Fwk/Fwk.Bases/obj/Release/Fwk.Bases.dll
Fwk/Fwk.Bases/obj/Release/Fwk.Bases.pdb
Fwk/Fwk.Blocking/Fwk.Blocking.BlockingService/bin/Release/Fwk.Bases.dll
Fwk/Fwk.Blocking/Fwk.Blocking.BlockingService/bin/Release/Fwk.Bases.pdb
Fwk/Fwk.Blocking/Fwk.Blocking.BlockingService/bin/Release/Fwk.Blocking.BlockingService.exe
Fwk/Fwk.Blocking/Fwk.Blocking.BlockingService/bin/Release/Fwk.Blocking.BlockingService.pdb
Fwk/Fwk.Blocking/Fwk.Blocking.BlockingService/obj/Release/Fwk.Blocking.BlockingService.csprojResolveAssemblyReference.cache
Fwk/Fwk.Blocking/Fwk.Blocking.BlockingService/obj/Release/Fwk.Blocking.BlockingService.exe
Fwk/Fwk.Blocking/Fwk.Blocking.BlockingService/obj/Release/Fwk.Blocking.BlockingService.pdb
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/ConfigManegerRemoting.xml
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/Fwk.Bases.xml
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/Fwk.Remoting.Listener.application
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/Fwk.Remoting.Listener.exe
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/Fwk.Remoting.Listener.exe.config
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/Fwk.Remoting.Listener.exe.manifest
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/Fwk.Security.xml
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/InstallUtil.exe
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/RemotingHost.config
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/ServiceMetadataConfig.xml
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/StartService.bat
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/StopService.bat
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/install.bat
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/bin/Debug/uninstall.bat
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/Fwk.Remoting.Listener.ProjectInstaller.resources
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/Fwk.Remoting.Listener.RemotingService.resources
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/Fwk.Remoting.Listener.TrustInfo.xml
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/Fwk.Remoting.Listener.application
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/Fwk.Remoting.Listener.csproj.FileListAbsolute.txt
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/Fwk.Remoting.Listener.csproj.GenerateResource.Cache
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/Fwk.Remoting.Listener.csprojResolveAssemblyReference.cache
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/Fwk.Remoting.Listener.exe
Dispatchers/TestServicePerformance/RemotingDispatcher_Epec/Fwk.Remoting.Listener/obj/Debug/Fwk.Remoting.Listener.exe.manifest
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/2016-10-27_DispatcherErrorsLog.xml
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/Fwk.Bases.xml
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/Fwk.Security.xml
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/RemotingConfigFile.config
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/RemotingConfigFile_2.config
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/RemotingConfigFile_2_.config
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/TestServicePerformance.exe
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/TestServicePerformance.exe.config
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/TestServicePerformance.vshost.exe
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/TestServicePerformance.vshost.exe.config
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/TestServicePerformance.vshost.exe.manifest
Dispatchers/TestServicePerformance/TestServicePerformance/bin/Debug/fwk.rar
Dispatchers/TestServicePerformance/TestServicePerformance/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Dispatchers/TestServicePerformance/TestServicePerformance/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dispatchers/TestServicePerformance/TestServicePerformance/obj/Debug/TestServicePerformance.Properties.Resources.resources
Dispatchers/TestServicePerformance/TestServicePerformance/obj/Debug/TestServicePerformance.csproj.FileListAbsolute.txt
Dispatchers/TestServicePerformance/TestServicePerformance/obj/Debug/TestServicePerformance.csproj.GenerateResource.Cache
Dispatchers/TestServicePerformance/TestServicePerformance/obj/Debug/TestServicePerformance.csprojResolveAssemblyReference.cache
Dispatchers/TestServicePerformance/TestServicePerformance/obj/Debug/TestServicePerformance.exe
Dispatchers/TestServicePerformance/TestServicePerformance/obj/Debug/TestServicePerformance.frmAssemblyExplorer.resources
Dispatchers/TestServicePerformance/TestServicePerformance/obj/Debug/TestServicePerformance.frmTest.resources
Dispatchers/TestServicePerformance/back/back.SVC/bin/Debug/Fwk.Bases.xml
Dispatchers/TestServicePerformance/back/back.SVC/bin/Debug/Fwk.Security.xml
Dispatchers/TestServicePerformance/back/back.SVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dispatchers/TestServicePerformance/back/back.SVC/obj/Debug/back.SVC.csproj.FileListAbsolute.txt
Dispatchers/TestServicePerformance/back/back.SVC/obj/Debug/back.SVC.csprojResolveAssemblyReference.cache
FrameworkTools/SecurityAppBlock/Fwk.Security.ActiveDirectory.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FrameworkTools/SecurityAppBlock/Fwk.Security.Admin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FrameworkTools/SecurityAppBlock/SecurityAppBlock.Use/bin/Debug/SecurityAppBlock.Use.exe.config
FrameworkTools/SecurityAppBlock/SecurityAppBlock.Use/bin/Debug/SecurityAppBlock.Use.vshost.exe
FrameworkTools/SecurityAppBlock/SecurityAppBlock.Use/bin/Debug/SecurityAppBlock.Use.vshost.exe.config
FrameworkTools/SecurityAppBlock/SecurityAppBlock.Use/bin/Debug/SecurityAppBlock.Use.vshost.exe.manifest
FrameworkTools/SecurityAppBlock/SecurityAppBlock.Use/obj/Debug/SecurityAppBlock.Use.csproj.FileListAbsolute.txt
FrameworkTools/SecurityAppBlock/Fwk.CentralizedSecurity/bin/Fwk.Bases.xml
FrameworkTools/SecurityAppBlock/Fwk.CentralizedSecurity/bin/Fwk.Security.xml
FrameworkTools/SecurityAppBlock/Fwk.CentralizedSecurity/bin/ServiceMetadataConfig.xml
FrameworkTools/SecurityAppBlock/Fwk.CentralizedSecurity/obj/Debug/Fwk.CentralizedSecurity.csproj.FileListAbsolute.txt
FrameworkTools/SecurityAppBlock/Fwk.CentralizedSecurity/obj/Debug/Fwk.CentralizedSecurity.csprojResolveAssemblyReference.cache
Dispatchers/WcfDispatcher/WcfDispatcher_Host/obj/Debug/WcfDispatcher_Host.exe
Dispatchers/WebAPIDispatcher/.vs/WebAPIDispatcher/v14/.suo
Dispatchers/WebAPIDispatcher/.vs/WebAPIDispatcherClienteWeb/v14/.suo
Dispatchers/WebAPIDispatcher/.vs/config/applicationhost.config
Dispatchers/WebAPIDispatcher/WebAPIDispatcherWebAPI/.vs/WebAPIDispatcher/v14/.suo
Dispatchers/WebAPIDispatcher/WebAPIDispatcherWebAPI/.vs/config/applicationhost.config
Dispatchers/WebAPIDispatcher/libs/Fwk.Bases.XML
Dispatchers/WcfDispatcher/Cliente/WCFWrapper_01.cs.bak
Dispatchers/WcfDispatcher/Cliente/WCFWrapper_02.cs.bak
Dispatchers/WcfDispatcher/WcfDispatcher/FwkDataContract.cs.bak
Dispatchers/Client_Wrapper/back/obj/Debug/back.csprojResolveAssemblyReference.cache
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/Fwk.Bases.xml
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/Fwk.Remoting.Listener.application
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/Fwk.Remoting.Listener.exe
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/Fwk.Remoting.Listener.exe.config
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/Fwk.Remoting.Listener.exe.manifest
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/Fwk.Remoting.Listener.vshost.exe
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/Fwk.Remoting.Listener.vshost.exe.config
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/Fwk.Security.xml
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/InstallUtil.exe
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/RemotingHost.config
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/StartService.bat
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/StopService.bat
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/install.bat
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/bin/Release/uninstall.bat
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/DesignTimeResolveAssemblyReferences.cache
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/Fwk.Remoting.Listener.ProjectInstaller.resources
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/Fwk.Remoting.Listener.TrustInfo.xml
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/Fwk.Remoting.Listener.application
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/Fwk.Remoting.Listener.csproj.FileListAbsolute.txt
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/Fwk.Remoting.Listener.csproj.GenerateResource.Cache
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/Fwk.Remoting.Listener.csprojResolveAssemblyReference.cache
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/Fwk.Remoting.Listener.exe
Dispatchers/RemotingDispatcher/Fwk.Remoting.Listener/obj/Release/Fwk.Remoting.Listener.exe.manifest
Dispatchers/RemotingDispatcher/Remoting.Host/bin/Debug/Fwk.Bases.xml
Dispatchers/RemotingDispatcher/Remoting.Host/bin/Debug/Remoting.Host.exe
Dispatchers/RemotingDispatcher/Remoting.Host/bin/Debug/Remoting.Host.exe.config
Dispatchers/RemotingDispatcher/Remoting.Host/bin/Debug/Remoting.Host.vshost.exe
Dispatchers/RemotingDispatcher/Remoting.Host/bin/Debug/Remoting.Host.vshost.exe.config
Dispatchers/RemotingDispatcher/Remoting.Host/bin/Debug/Remoting.Host.vshost.exe.manifest
Dispatchers/RemotingDispatcher/Remoting.Host/bin/Debug/RemotingHost.config
Dispatchers/RemotingDispatcher/Remoting.Host/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dispatchers/RemotingDispatcher/Remoting.Host/obj/Debug/Remoting.Host.csproj.FileListAbsolute.txt
Dispatchers/RemotingDispatcher/Remoting.Host/obj/Debug/Remoting.Host.csprojResolveAssemblyReference.cache
Dispatchers/RemotingDispatcher/Remoting.Host/obj/Debug/Remoting.Host.exe
Dispatchers/WcfDispatcher/WcfDispatcher/bin/Debug/WcfDispatcher.Service.dll.config
Dispatchers/WcfDispatcher/WcfDispatcher/obj/Debug/WcfDispatcher.Service.csproj.FileListAbsolute.txt
Dispatchers/WcfDispatcher/WcfDispatcherSvc/obj/x86/Debug/WcfDispatcherSvc.ProjectInstaller.resources
Dispatchers/WcfDispatcher/WcfDispatcherSvc/obj/x86/Debug/WcfDispatcherSvc.WCFWinService.resources
Dispatchers/WcfDispatcher/WcfDispatcherSvc/obj/x86/Debug/WcfDispatcherSvc.csproj.GenerateResource.Cache
Dispatchers/WcfDispatcher/WcfDispatcher_Host/bin
Dispatchers/Client_Wrapper/back/bin/Debug/Fwk.Bases.xml
Dispatchers/Client_Wrapper/back/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dispatchers/Client_Wrapper/back/obj/Debug/back.csproj.FileListAbsolute.txt
Dispatchers/WebServiceDispatcher/bin/ConfigurationManager_02.xml
Dispatchers/WebServiceDispatcher/bin/Fwk.Bases.xml
Dispatchers/WebServiceDispatcher/bin/Fwk.Security.xml
Dispatchers/WebServiceDispatcher/bin/Metasvc.xml
Dispatchers/WebServiceDispatcher/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dispatchers/WebServiceDispatcher/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Dispatchers/WebServiceDispatcher/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Dispatchers/WebServiceDispatcher/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Dispatchers/WebServiceDispatcher/obj/Debug/WebServiceDispatcher.csproj.FileListAbsolute.txt
Dispatchers/WebServiceDispatcher/obj/Debug/WebServiceDispatcher.csprojResolveAssemblyReference.cache
Dispatchers/WebServiceDispatcher/WebServiceDispatcher.csproj.user
Dispatchers/WebServiceDispatcher/WebServiceDispatcher.v11.suo
Dispatchers/Client_Wrapper/client.v12.suo
Dispatchers/Client_Wrapper/client/Client.csproj.user
Dispatchers/Client_Wrapper/client/settings.cs
Dispatchers/RemotingDispatcher/Remoting.Host/Remoting.Host.csproj.user
Dispatchers/RemotingDispatcher/RemotingDispatcher.v11.suo
Dispatchers/WebAPIDispatcherClienteWeb/.vs/WebAPIDispatcherClienteWeb/v14/.suo
Dispatchers/Client_Wrapper/client.v11.suo
Dispatchers/DispatcherClientChecker/DispatcherClientChecker.v12.suo
Dispatchers/DispatcherClientChecker/DispatcherClientChecker/DispatcherClientChecker.csproj.user
Dispatchers/WcfDispatcher/.vs/WcfDispatcher/v14/.suo
Dispatchers/WcfDispatcher/WcfDispatcher/WcfDispatcher.csproj.user
Fwk.FrontEnd/Fwk.FrontEnd.v11.suo
